body{
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
}

header{
    display: flex;
    flex: row nowrap;
    justify-content: center;
    align-items: center;
}

header h1{
  color: fuchsia;  
}

h1, h3{
    color: chartreuse;
}

h3{
    margin-bottom: 2px;
}

p{
    color: fuchsia;
    font-weight: bold;
    font-size: 1.3em;
}
.note{
  padding: 15px;
  width: 25%;
  text-align: center;
  margin-left: 200px;
}

.note a{
    color: white;
    text-decoration: none;
}

.note a:hover{
    text-decoration: line-through;
    color: darkgrey;
}

li{
    padding: .5em;
}

.home a{
    background-color:darkgrey;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid white; 
    text-decoration: none;
    color:white;
 }

.home a:hover{
    text-decoration: line-through;
    color: black;
}

.pic{
    float:right;
    margin-top: -850px;
    margin-right: 400px;
    border: 2px solid white;
}

.container {
    padding: 1vmin;
    height: 25vmin;
    width: 25vmin;
    background-color: teal;
 }

.orbiting-circle {
    height: 25%;
    width: 25%;
    background-color: darkred;
    border-radius: 50%;
    animation: orbit 3s linear infinite;
    box-sizing: border-box;
}

@keyframes orbit {
    0% { transform: translate(0,0); }
    5% { transform: translate(0,0); } /* don't change for 5% of the time...pause */
    25% { transform: translate(300%,0%); } /* start moving again */
    30% { transform: translate(300%,0%); } /* pause */
    50% { transform: translate(300%,300%); } /* move */
    55% { transform: translate(300%,300%); }
    75% { transform: translate(0%,300%); }
    80% { transform: translate(0%,300%); }
    100% { transform: translate(0%,0%); }
}